plasma-sdk-6.5.2-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
kmenuedit-6.5.2-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
kitty-git-1:0.44.0.r47.g35d95d7a4-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
kitty-shell-integration-git-1:0.44.0.r47.g35d95d7a4-1-any.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
breeze-6.5.2-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
breeze-gtk-6.5.2-1-any.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
drkonqi-6.5.2-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
kde-cli-tools-6.5.2-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
plasma-pa-6.5.2-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
discover-6.5.2-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
oxygen-sounds-6.5.2-1-any.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
plasma-workspace-wallpapers-6.5.2-1-any.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
plasma-x11-session-6.5.2-2-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
qt5-connectivity-5.15.18+kde+r1-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
wacomtablet-6.5.2-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
wayland-docs-1.24.0-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
dracut-cachyos-109-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
kwayland-6.5.2-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
plymouth-kcm-6.5.2-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
flatpak-kcm-6.5.2-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
konsole-25.08.3-2-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
kscreenlocker-6.5.2-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
kwayland-integration-6.5.2-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
libkscreen-6.5.2-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
plasma5-integration-6.5.2-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
wayland-1.24.0-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
bluedevil-1:6.5.2-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
catppuccin-plasma-colorscheme-frappe-0.2.6-2-any.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
ksystemstats-6.5.2-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
layer-shell-qt-6.5.2-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
libplasma-6.5.2-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
print-manager-1:6.5.2-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
systemsettings-6.5.2-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
kdecoration-6.5.2-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
kde-gtk-config-6.5.2-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
kglobalacceld-6.5.2-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
kitty-terminfo-0.44.0-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
kwin-6.5.2-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
linux-cachyos-dbg-6.17.7-2-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
spectacle-1:6.5.2-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
kinfocenter-6.5.2-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
linux-cachyos-rc-lto-6.18.rc5-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
linux-cachyos-rc-lto-headers-6.18.rc5-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
mold-git-2.40.4.r61.gfcd53919-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
plasma-browser-integration-6.5.2-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
plasma-disks-6.5.2-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
aurorae-6.5.2-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
catppuccin-plasma-colorscheme-latte-0.2.6-2-any.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
kdeplasma-addons-6.5.2-2-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
kwin-x11-6.5.2-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
milou-6.5.2-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
plasma-activities-stats-6.5.2-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
plasma-nm-6.5.2-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
polkit-kde-agent-6.5.2-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
kpipewire-6.5.2-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
krdp-6.5.2-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
kwin-decoration-sierra-breeze-enhanced-git-r260.4a4f085-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
libksysguard-6.5.2-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
linux-cachyos-6.17.7-2-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
kitty-shell-integration-0.44.0-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
egl-wayland2-1.0.0-0.1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
plasma-wayland-protocols-1.19.0-1-any.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
catppuccin-plasma-colorscheme-mocha-0.2.6-2-any.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
kgamma-6.5.2-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
kitty-0.44.0-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
kscreen-6.5.2-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
kwrited-6.5.2-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
plasma-desktop-6.5.2-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
sddm-kcm-6.5.2-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
vesc-tool-6.06-6-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
plasma-welcome-6.5.2-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
qqc2-breeze-style-6.5.2-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
rxvt-unicode-truecolor-wide-glyphs-9.31-11-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
vk-hdr-layer-kwin6-git-r47.303e0c6-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
breeze5-6.5.2-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
kitty-terminfo-git-1:0.44.0.r47.g35d95d7a4-1-any.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
linux-cachyos-headers-6.17.7-2-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
oxygen5-6.5.2-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
oxygen-6.5.2-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
plasma-integration-6.5.2-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
plasma-thunderbolt-6.5.2-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
catppuccin-plasma-colorscheme-macchiato-0.2.6-2-any.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
ksshaskpass-6.5.2-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
plasma5support-6.5.2-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
plasma-vault-6.5.2-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
powerdevil-6.5.2-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
qt5-serialbus-5.15.18-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
kwallet-pam-6.5.2-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
plasma-workspace-6.5.2-2-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
xdg-desktop-portal-kde-6.5.2-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
breeze-plymouth-6.5.2-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
kactivitymanagerd-6.5.2-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
plasma-activities-6.5.2-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
plasma-systemmonitor-6.5.2-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
wayland-utils-1.2.0-2-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
alacritty-0.16.1-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
knighttime-6.5.2-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
ocean-sound-theme-6.5.2-1-any.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
plasma-firewall-6.5.2-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
